<main>
  <div class = "container">
    <h1>マイページ</h1>
    <div class ="row">
      <div class = "col-md-6">
        <tr>
          <td>登録情報</td>
          <td><%= link_to "編集する", edit_customers_path(1) %></td>  　　　　　　　　　　　　<!--後にpathの記述が変わります-->
          <td><%= link_to "パスワードを変更", edit_customer_password_path(1) %></td>　　　<!--後にpathの記述が変わります-->
        </tr>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-6">
      <table class = "table table-bordered">
        <tbody>
          <tr>
            <td>氏名</td>
            <td><%= @customer.family_name %> &emsp; <%= @customer.first_name %></td>
          </tr>
          <tr>
            <td>カナ</td>
            <td><%= @customer.family_kana %> &emsp; <%= @customer.first_kana %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @customer.tel %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
    <div class ="row">
      <div class = "col-md-6">
        <tr>
          <td>配送先</td>
          <td><%= link_to "一覧を見る", receivers_path %></td>
        </tr>
      </div>
    </div>
    <div class ="row">
      <div class = "col-md-6">
        <tr>
          <td>注文履歴</td>
          <td><%= link_to "一覧を見る", orders_path %></td>
        </tr>
      </div>
    </div>
  </div>
</main>
