<h1>トップページ(rootパス)</h1>
<p>ようこそ、NaganoCakeへ!<br>
このサイトは、ケーキ販売のECサイトになります。<br>
会員でない方も商品の閲覧はできますが、<br>
購入には会員登録が必要になります。</p>

<%= link_to "テストAboutリンク", about_path %><br><br>

<br>
<%= link_to "Admin-新規登録", new_admin_registration_path %>◆
<%= link_to "ログイン", new_admin_session_path %>◆
<%= link_to "ログアウト", destroy_admin_session_path, method: :delete %><br>
<%= link_to "Customer-新規登録", new_customer_registration_path %>◇
<%= link_to "ログイン", new_customer_session_path %>◇
<%= link_to "ログアウト", destroy_customer_session_path, method: :delete %><br>
<br>

