<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="card bg-success topcardmg shadow">
        <%= render 'customer/products/genre', genres: @genres %>
        => ここにジャンル画像をそれぞれ持ってくるのも面白いかも？
      </div>
    </div>
    <div class="col-sm-9">
      <div class="card bg-dark text-white topcardmg shadow">
        <div class="card-header">
          <h4 class="text-center">ようこそ、ながのCAKEへ!</h4>
        </div>
        <%= image_tag 'topbg.jpg', class: "bd-placeholder-img bd-placeholder-img-lg card-img", height: "350", alt: '' %>
        <div class="card-body align-items-center">
          <p class="card-text text-center">このサイトは、ケーキ販売のECサイトになります。</p>
          <p class="card-text text-center">会員でない方も商品の閲覧はできますが、</p>
          <p class="card-text text-center">購入には会員登録が必要になります。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-sm-9">
      <div class="card-deck">
        <% @products.each do |product| %>
          <div class="card shadow rounded-circle bg-warning topcardmg", style="width: 18rem;">
            <%= attachment_image_tag product, :image, size: "120x100", format: 'jpg', fallback: "no_image.jpg", class: "bd-placeholder-img bd-placeholder-img-lg card-img" %>
            <h5 class="card-title text-center"><%= link_to product.name, product_path(product.id) %></h5>
            <p class="card-text text-center"><%= product.tax_out_price %>円</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <h4 class="text-right"><%= link_to "もっと見る>", products_path %></h4>
</div>

