<div class="container">
  <div class="row">
    <div class="border col-sm-2">
      <%= render 'customer/products/genre', genres: @genres %>
    </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="border col-sm-10">
      <div class="row">
        <div class="border col-md-12">
        <div class="border col-md-3.5 offset-md-4 align-self-center">
          <p>ようこそ、NaganoCakeへ!<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">以下テスト用</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Admin</th>
        <td><%= link_to "新規登録", new_admin_registration_path %></td>
        <td><%= link_to "ログイン", new_admin_session_path %></td>
        <td><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Customer</th>
        <td><%= link_to "新規登録", new_customer_registration_path %></td>
        <td><%= link_to "ログイン", new_customer_session_path %></td>
        <td><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></td>
        <td><%= link_to "パスワード変更", edit_customer_registration_path %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container">

  <h3>おすすめ商品</h3>
  <% @products.each do |product| %>
   <!--商品画像-->
   <div>
     <%= attachment_image_tag product, :image, size: "40x40", format: 'jpg', fallback: "no_image.jpg" %>
   </div>
   <!--商品名-->
   <br>
   <div>
   <%= link_to product_path(product.id) do %>
    <%= product.name %>
   <% end %>
   </div>
   <!--税抜価格-->
   <div>
     <p><%= product.tax_out_price %>円</p>
   </div>
  <% end %>
</div>