<!--注文情報入力フォーム-->
<%= form_with model: @order, url: orders_confirm_path, method: :get, local: true do |f| %>
  <h4>支払方法</h4>
  <label><%= f.radio_button :payment, "銀行振込" %>銀行振込</label>
  <label><%= f.radio_button :payment, "クレジットカード" %>クレジットカード</label></br>

  <h4>お届け先</h4>
  <label><%= f.radio_button :address, @customer.address %>ご自身の住所</label>
  <%#= f.radio_button :order, :address %>
  <%#= f.label :address, "ご自身の住所", {value: :order} %></br>
    <%#= @customer.address %></br>
  <%#= f.radio_button :order, :address %>
  <%#= f.label :address, "登録済み住所から選択", {value: :order} %></br>
    <%#= f.collection_select :address, Receiver.where(customer_id: current_customer.id), :id, :address, include_blank: '選択してください' %></br>
  <%#= f.radio_button :order, :address %>
  <%#= f.label :address, "新しいお届け先" %></br>
    <%#= f.text_field :postal_code %></br>
    <%#= f.text_field :address %></br>
    <%#= f.text_field :name %></br>
  <%= f.submit "確認画面へ進む" %>
<% end %>