<main>
  <div class = "container">

    <div class="row">
      <div class="col-9">
        <h3 class="text-center bg-light"><strong><%= @customer.family_name %><%= @customer.first_name %>さんの会員情報</strong></h3>
      </div>
    </div>

    <div class="row make">
      <%= form_with model: @customer, url: admin_customer_path(@customer.id), local: true do |f| %>
        <div class ="col-10">
          <table class ="table table-borderless">
            <tr>
              <th class="www">会員ID</th>
              <td><%= @customer.id %></td>
            </tr>
            <tr>
              <th>氏名</th>
              <td><%= f.text_field :family_name %> &ensp; <%= f.text_field :first_name %></td>
            </tr>
            <tr>
              <th>フリガナ</th>
              <td><%= f.text_field :family_kana %> &ensp; <%= f.text_field :first_kana %></td>
            </tr>
            <tr>
              <th>郵便番号</th>
              <td><%= f.text_field :postal_code %></td>
            </tr>
            <tr>
              <th>住所</th>
              <td><%= f.text_field :address %></td>
            </tr>
            <tr>
              <th>電話番号</th>
              <td><%= f.telephone_field :tel %></td>
            </tr>
            <tr>
              <th>メールアドレス</th>
              <td><%= f.email_field :email %></td>
            </tr>
            <tr>
              <th>会員ステータス</th>
              <td>
                <label><%= f.radio_button :is_deleted, "有効" %>有効</label>
                &ensp;
                <label><%= f.radio_button :is_deleted, "退会済" %>退会済</label>
              </td>
            </tr>
            <tr>
              <td><%= f.submit "変更を保存する", class:"btn btn-primary" %></td>
              <td><%= link_to "詳細画面に戻る", admin_customer_path(@customer.id), class:"btn btn-light" %></td>
            </tr>
          </table>
        </div>
      <% end %>
    </div>

  </div>
</main>

