<main>
  <div class="container">
    <div class="title">会員一覧</div>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.id %></td>
              <td>
                <%= link_to admin_customer_path(customer.id) do %>          <!--詳細ページのリンクを会員の名前につけました-->
                  <%= customer.family_name %><%= customer.first_name %>
                <% end %>
              </td>
              <td><%= customer.email %></td>
              <td><%= customer.is_deleted %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</main>