<main>
  <div class = "container">
    <h1><%= @customer.family_name %><%= @customer.first_name %>さんの会員情報</h1>
    <table class="table">
      <tr>
        <td>顧客ID</td>
        <td><%= @customer.id %> &emsp; <span class="text-success"><%= @customer.is_deleted %></span></td>
      </tr>
      <tr>
        <td>氏名</td>
        <td><%= @customer.family_name %><%= @customer.first_name %></td>
      </tr>
      <tr>
        <td>フリガナ</td>
        <td><%= @customer.family_kana %><%= @customer.first_kana %></td>
      </tr>
      <tr>
        <td>郵便番号</td>
        <td><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <td>電話番号</td>
        <td><%= @customer.tel %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @customer.email %></td>
      </tr>
      <tr>
        <td><%=link_to "編集する", edit_admin_customer_path(@customer.id) %></td>
        <td><%=link_to "注文履歴一覧を見る", admin_orders_path %></td>
      </tr>
    </table>
  </div>
</main>