<h4>（管理者）注文履歴詳細</h4>
<div class="container">
  <div class="row">
    <%= form_with model:@order, url: admin_order_path, local: true do |f| %>
      <%= f.label "購入者" %></br>
      <%#= link_to admin_customer_path do %>
        <%#= @customer.family_name %><%# @customer.first_name %>
      <%# end %>
      <%= f.label "配送先" %></br>
      <%#= @order.postal_code %><%#= @order.address %><%#= @order.name %>
      <%= f.label "支払方法" %></br>
      <%#= @order.status %>
      <%= f.label "注文ステータス" %>
      <%#= f.collection_select :status, Order.all, :id, :status %>
    <% end %>
  </div>
  <div class="row">
  <%= form_with model:@order, url: admin_order_path, local: true do |f| %>
    <table class="table">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th>製作ステータス</th>
          <th></th>
        </tr>
      </thead></br>
      <tbody>
      <% @order_products.each do |order_product| %>
        <tr>
          <td><%= order_product.product.name %></td>
          <td><%= (order_product.product.tax_out_price).to_i * 1.1 %></td>
          <td><%= order_product.quantity %></td>
          <td><%= (order_product.product.tax_out_price).to_i * 1.1 * (order_product.quantity).to_i %></td>
          <td><%= f.collection_select :status, OrderProduct.all, :id, :status %></td>
          <td><%= f.submit "更新" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
  <div class="row">
    <div class="table">
      <tr><th>商品合計</th><td><%#= (@order.sum).to_i - (@order.shipping).to_i %></td></tr></br>
      <tr><th>送料</th><td><%#= @order.shipping %></td></tr></br>
      <tr><th>請求額合計</th><td><%#= @order.devesum %></td></tr>
    </div>
  </div>
</div>