<div class="container">
  <br>
  <div class="row">
    <div class="col-6 mx-auto">
      <h3><span class="bg-secondary text-white">　注文履歴詳細　<br></span></h3><br>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <table class="table table-borderless">
        <tr>
          <th>購入者</th>
          <td>
            <%= link_to admin_customer_path(@order.customer.id) do %>
              <%= @order.customer.family_name %>　<%= @order.customer.first_name %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>〒<%= @order.postal_code %>　<%= @order.address %>　<br><%= @order.name %></td>
        </tr>
        <tr>
          <th>支払い方法</th>
          <td><%= @order.payment %></td>
        </tr>
        <tr>
          <th>注文ステータス</th>
          <td>
            <%= form_with model: @order, url: admin_order_path, method: :patch, local: true do |f| %>
            <%= f.select :status, options_for_select(Order.statuses.keys, selected: @order.status), :class => "form-control" %>
            <%= f.submit "更新", :class => "btn btn-primary btn-sm" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <br>
  <div class="row justify-content-between">
    <div class="col-8 ordershow text-center">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th class="text-left">商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @order_products.each do |order_product| %>
            <tr></tr>
              <td class="text-left align-middle"><%= order_product.product.name %></td>
              <td class="align-middle"><%= ((order_product.product.tax_out_price).to_i * 1.1).round %></td>
              <td class="align-middle"><%= order_product.quantity %></td>
              <td class="align-middle"><%= ((order_product.product.tax_out_price).to_i * 1.1 * (order_product.quantity).to_i).round %></td>
              <td class="align-middle">
                <%= form_with model: order_product, url: order_creates_path(id: order_product.id), method: :patch, local: true do |f| %>
                  <%= f.select :status, options_for_select(OrderProduct.statuses.keys, selected: order_product.status)%>
              </td>
              <td>
                  <%= f.submit "更新", :class => "btn btn-primary btn-sm" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-3 align-self-end">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>商品合計</th>
            <td><%= @order.sum %>円</td>
          </tr>
          <tr>
            <th>送料</th>
            <td><%= @order.shipping %>円</td>
          </tr>
          <tr>
            <th>請求金額合計</th>
            <td><b><%= @order.sum.to_i + @order.shipping.to_i %>円</b></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
