<div class="container">
  <div class="row">
    <div class="col-9 mx-auto">
      <h2>　<span class="bg-secondary text-white">注文履歴詳細<br></span>　</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-9">
      <table class="table">
        <tr>
          <th>購入者</th>
          <th>配送先</th>
          <th>支払方法</th>
          <th>注文ステータス</th>
          <th></th>
        </tr>
        <tr>
          <td>
            <%= link_to admin_customer_path(@order.customer.id) do %>
              <%= @order.customer.family_name %>　<%= @order.customer.first_name %>
            <% end %>
          </td>
          <td>〒：<%= @order.postal_code %>　住所：<%= @order.address %>　名前：<%= @order.name %></td>
          <td><%= @order.payment %></td>
          <td>保存確認：<%= @order.status %></td>
          <td>
            <%= form_with model: @order, url: admin_order_path, method: :patch, local: true do |f| %>
              <%= f.select :status, options_for_select(Order.statuses.keys, selected: @order.status)%>
              <%= f.submit "更新" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <table class="table">
        <thead>
          <tr>
            <th>ID(test)</th>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th colspan="3">製作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @order_products.each do |order_product| %>
            <tr>
              <td>order_product.id:<%= order_product.id %></td>
              <td><%= order_product.product.name %></td>
              <td><%= ((order_product.product.tax_out_price).to_i * 1.1).round %></td>
              <td><%= order_product.quantity %></td>
              <td><%= ((order_product.product.tax_out_price).to_i * 1.1 * (order_product.quantity).to_i).round %></td>
              <td>保存確認：<%= order_product.status %></td>
              <td>
                <%= form_with model: order_product, url: order_creates_path(id: order_product.id), method: :patch, local: true do |f| %>
                  <%= f.select :status, options_for_select(OrderProduct.statuses.keys, selected: order_product.status)%>
                  <%= f.submit "更新" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-4 align-self-center">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>商品合計：</td>
            <td><%= @order.sum %>円</td>
          </tr>
          <tr>
            <td>送料：</td>
            <td><%= @order.shipping %>円</td>
          </tr>
          <tr>
            <td>請求額合計：</td>
            <td><%= @order.sum + @order.shipping %>円</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
