<div class="container">

 <div class="row">
  <div class="col-md-5">
   <!--ジャンル検索の部分テンプレート-->
   <%= render 'customer/products/genre', genres: @genres %>
  </div>

  <div class="col-md-7">
    <% if params[:id] %>
     <h2><%= @genre.type %>一覧(全<%= @product.count %>件)</h2>
    <% else %>
     <h2>商品一覧(全<%= @product.count %>件)</h2>
    <% end %>

   <% @products.each do |product| %>
    <!--商品画像-->
    <div>
     <%= attachment_image_tag product, :image, size: "40x40", format: 'jpg', fallback: "no_image.jpg" %>
    </div>
    <!--商品名-->
    <div>
     <label for="inputName">商品名</label>
     <%= link_to product_path(product.id) do %>
     <%= product.name %>
     <% end %>
    </div>
    <!--税抜価格-->
    <div>
     <label for="inputTaxoutprice">税抜価格</label>
     <p><%= product.tax_out_price %>円</p>
    </div>
   <% end %>
  </div>
 <%= paginate @products %>
 </div>
