<main>
  <div class ="container">

    <div class="row">
      <h1>配送先編集</h1>
    </div>

    <div class="row">
      <%= form_with model: @receiver, url: receiver_path, local: true do |f| %>
      <div class="col-md-12">
        <table class="table">
          <tr>
            <td>郵便番号(ハイフンなし)</td>
            <td><%= f.text_field :postal_code %></td>
            <td>
              <% if @receiver.errors.any? %>
                <% @receiver.errors.full_messages_for(:postal_code).each do |message| %>
                  <li><%= message %></li>
                <% end %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= f.text_field :address %></td>
            <td>
              <% if @receiver.errors.any? %>
                <% @receiver.errors.full_messages_for(:address).each do |message| %>
                  <li><%= message %></li>
                <% end %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>宛名</td>
            <td><%= f.text_field :name %></td>
            <td>
              <% if @receiver.errors.any? %>
                <% @receiver.errors.full_messages_for(:name).each do |message| %>
                  <li><%= message %></li>
                <% end %>
              <% end %>
            </td>
          </tr>
        </table>
        <div class="col-md-3">
          <%= f.submit "編集する" %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="row">
      <div class="btn"><%=link_to "配送先に戻る", receivers_path %></div>
    </div>

  </div>
</main>

