<main>
 <div class="container">
 <!--新規登録ボタン(右寄せ)-->
 <div class="float-right">
  <%= link_to new_admin_product_path do %>
  <h2><i class="fas fa-plus-square"></i></h2>
  <% end %>
 </div>
 <!--商品一覧-->
 <div class="row">
  <div class="col-3">
   <h3 class="text-center bg-light"><strong>商品一覧</strong></h3>
  </div>
 </div>
 <!--商品一覧テーブル-->
 <table class="table table-hover">
   <thead class="bg-light">
    <tr>
     <th>商品ID</th>
     <th>商品名</th>
     <th>税抜価格</th>
     <th>ジャンル</th>
     <th>ステータス</th>
    </tr>
   </thead>
   <% @products.each do |product| %>
   <tbody>
    <tr>
     <td>
      <!--商品ID-->
      <%= product.id %>
     </td>
     <td class="line">
      <!--商品名-->
      <%= link_to admin_product_path(product.id) do %>
       <%= product.name %>
      <% end %>
     </td>
     <td>
      <!--税抜価格-->
      <p><%= product.tax_out_price %></p>
     </td>
     <td>
      <!--ジャンル-->
      <p><%= product.genre.type %></p>
     </td>
     <td>
      <!--ステータス-->
      <%= product.status  %>
     </td>
    </tr>
   </tbody>
   <% end %>
  </table>
  <!--ページャ-->
  <div class="row">
    <div class="col-5"></div>
    <div class="col-2 text-center">
      <span><%= paginate @products %></span>
    </div>
  </div>
 </div>
</main>
