<main>
 <div class="container">


<!--新規登録ボタン(右寄せ)-->
<div class="float-right">
 <%= link_to new_admin_product_path do %>
 <h2><i class="fas fa-plus-square"></i></h2>
 <% end %>
</div>

<div class="row">
   <div class="col-3">
     <h3 class="text-center bg-light"><strong>商品一覧</strong></h3>
   </div>
 </div>


<table class="table table-hover">
   <thead class="bg-light">
    <tr>
     <th>商品ID</th>
     <th>商品名</th>
     <th>税抜価格</th>
     <th>ジャンル</th>
     <th>ステータス</th>
    </tr>
   </thead>
   <% @products.each do |product| %>
   <tbody>
    <tr>
     <!--商品ID-->
     <td>
      <%= product.id %>
     </td>
     <!--商品名-->
     <td class="line">
      <%= link_to admin_product_path(product.id) do %>
       <%= product.name %>
      <% end %>
     </td>
     <!--税抜価格-->
     <td>
      <p><%= product.tax_out_price %></p>
     </td>
     <!--ジャンル-->
     <td>
      <p><%= product.genre.type %></p>
     </td>
     <!--ステータス-->
     <td>
      <%= product.status  %>
     </td>
    </tr>
   </tbody>
   <% end %>
  </table>

  <div class="row">
    <div class="col-5"></div>
    <div class="col-2 text-center">
      <span><%= paginate @products %></span>
    </div>
  </div>
 </div>
</main>
