<div class="container">

 <% if @product.errors.any? %>
  <%= @product.errors.count %>errors prohibited this obj from being saved:
  <% @product.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<h3>商品新規登録</h3>
<%= form_with model: @product, url:'/admin/products', local:true do |f| %>
<div class="row">
 <div class="col-md-5">
  <!--商品画像-->
  <div>
   <label for="inputImage">Image</label>
   <%= f.attachment_field :image, placeholder: "商品画像" %>
  </div>
 </div>


 <div class="col-md-7">
  <!--商品名-->
  <div>
   <label for="inputName">商品名</label>
   <%= f.text_field :name, autiofocus: true, id:"inputName", placeholder:"商品名" %>
  </div>
  <!--商品説明-->
  <div>
   <label for="inputBody">商品説明</label>
   <%= f.text_area :body, autiofocus: true, id:"inputBody", placeholder:"商品説明" %>
  </div>
  <!--ジャンル選択-->
  <div>
   <label for="inputGenre">ジャンル</label>
   <%= f.collection_select :genre_id, Genre.all, :id, :type %>
  </div>
  <!--税抜価格-->
  <div>
   <label for="inputTax_out_price">税抜価格</label>
   <%= f.text_area :tax_out_price, autiofocus: true, id:"inputTax_out_price", placeholder:"税抜価格" %>
  </div>
  <!--販売ステータス-->
  <div>
   <label for="inputStstud">販売ステータス</label>
   <%= f.select :status, options_for_select(Product.statuses.keys) %>
  </div>
  <div class="actions">
   <%= f.submit '新規登録' %>
  </div>
 </div>
</div>
<% end %>

</div>
