<h3>商品詳細</h3>
 <!--商品画像-->
 <%#= attachment_image_tag @product, :product_image, :fill, 100, 100, format: 'jpg', fallback: "no_image.jpg" %>
 <!--商品名-->
 <label for="inputName">商品名</label>
 <%= @product.name %>
 <!--商品説明-->
 <label for="inputBody">商品説明</label>
 <%= @product.body %>
 <!--ジャンル-->
 <label for="inputGenre">ジャンル</label>
 <%= @product.genre.name %>
 <!--税抜価格-->
 <label for="inputTaxoutprice">税抜価格</label>
 <%= @product.tax_out_price %>
 <!--販売ステータス-->
 <label for="inputIsactive">販売ステータス</label>
 <%= @product.status %>

 <%= link_to "編集する", edit_admin_product_path %>