<h5>管理者ヘッダー</h5>
<p><%= link_to "商品一覧", admin_products_path %></p>
<p><%= link_to "会員一覧", admin_customers_path %></p>
<p><%= link_to "注文履歴一覧", admin_orders_path %></p>　<!-- リンク先は全注文履歴表示 -->
<p><%= link_to "ジャンル一覧", admin_genres_path %></p>
<p><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></p>