<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFFFAA;">
        <div class="container">
            <a class="navbar-brand" href="/"><%= image_tag 'logo.png', size: "150x40" %></a>
              <ul class="navbar-nav">
              <% if admin_signed_in? %>
                <%= render 'layouts/header-admin' %>
              <% elsif customer_signed_in? %>
                <%= render 'layouts/header-customer' %>
              <% else %>
                <%= render 'layouts/header' %>
              <% end %>
              </ul>
        </div>
      </nav>
      <% if admin_signed_in? && customer_signed_in?%>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #669999";>
          <ul class="navbar-nav ml-auto">
            <span class="navbar-text">注:AdminとCustomer両方でログインされています。</span>&emsp;&emsp;
            <form class="form-inline">
            <li><%= link_to "Logout", destroy_admin_session_path, method: :delete, class: "btn btn-sm btn-outline-warning" %></li>&emsp;&emsp;
          </ul>
        </nav>
      <% end %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
