<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-white">
        <div class="container">
        <a class="navbar-brand" href="/"><span>ながのCAKE</span></a>
        <div>
          <ul class="navbar-nav ml-auto">
          <% if admin_signed_in? %>
            <%= render 'layouts/header-admin' %>
          <% elsif customer_signed_in? %>
            <%= render 'layouts/header-customer' %>
          <% else %>
            <%= render 'layouts/header' %>
          <% end %>
          </ul>
        </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
